body{ 
    padding-top: 40px;
    background-color:#DCDCDC;
    margin-bottom: 50px;
}

.jumbotron{
    background-color:#343d46;
    color: white;
    height:100%;
}

@media (max-width: 996px) { 
    #searchann{
        width: 60%;
        display: inline-block;
    }
}

.panel{
    margin-top: 20px;
}

.panel p{
    margin:0;
}

@media (max-width: 996px) { 
    .panel{
        margin-left: 2%;
        margin-right: 2%;
    }
}

footer{
    position: absolute;  
    bottom: 0;
    width: 100%;
    height: 50px;
    margin:0;
    /* Set the fixed height of the footer here */
    background-color: white;
}

footer p{
    text-align: center;
    margin:0;
}
#page {
    margin: 20px auto;
    color: #666;
    display: block;
    text-align: center;
}

#page li {
    display: inline-block;
    min-width: 30px;
    height: 28px;
    cursor: pointer;
    color: #666;
    font-size: 13px;
    line-height: 28px;
    background-color: #f9f9f9;
    border: 1px solid #dce0e0;
    text-align: center;
    margin: 0 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.xl-nextPage,
.xl-prevPage {
    width: 60px;
    color: #0073A9;
    height: 28px;
}

#page li.xl-disabled {
    opacity: .5;
    cursor: no-drop;
}

#page li.xl-active {
    background-color: #0073A9;
    border-color: #0073A9;
    color: #FFF
}