body{ 
  padding-top: 40px;
  background-color:#DCDCDC;
  margin-bottom: 50px;
}

.jumbotron{
    background-color:#343d46;
    color: white;
    height:100%;
}
#myapproverewardmain{
	background-color: white;
	border-radius: 5px;
}

@media (max-width: 996px) { 
    #myapproverewardmain{
        margin-left: 2%;
        margin-right: 2%;
    }
}

#datatable a{
	text-decoration: none;
}