body{
	padding-top: 40px;
  	background-color:#DCDCDC;
  	margin-bottom: 50px;
}

input{
	margin-top: 5px;
}

.form-control{
	width: 30%;
}

#catalog{
	margin-top: 30px;
	background-color: #fff;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 1px solid;
}

#mainber{
	background-color: #fff;
	padding-left: 3%;
}

#Info{
	width: 40%;
}
