body{ 
  padding-top: 40px;
  background-color:#DCDCDC;
  margin-bottom: 50px;
}

.jumbotron{
    background-color:#343d46;
    color: white;
    height:100%;
}

#mysubmitrewardmain{
	background-color: white;
	border-radius: 5px;
}
#datatable a{
	text-decoration: none;
}